{% extends "store/base.html" %}
{% block content %}
    <ul>
        {% for item in items %}
            <li>{{ item.product }}: {{ item.quantity }}
                <a href="{% url 'decrease_quantity' item.product.pk %}" >-</a>
                <a href="{% url 'add_cart' item.product.pk %}" >+</a>
                <a href="{% url 'remove_all_cart' item.product.pk %}">Remove from cart</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        Total amount:{{ total_price }} €
    </div>
    <div>
        Total products:{{ total_amount }}
    </div>
{% endblock %}