{% extends 'store/base.html' %}
{% block content %}
    <!-- Content -->
    <section class="bg-dark">

        <div class="text-center container py-5">
            <div class="row row-gap-4">
                <form method="GET" class="mb-4">
                    <div class="d-flex justify-content-center mb-4">
                        <div class="input-group" style="max-width: 800px;">
                            <input class="form-control" type="search" placeholder="Search..." name="name" value="{{ request.GET.name }}">
                                <button class="btn btn-warning" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <select class="form-control" name="category" onchange="this.form.submit()">
                                    <option value="">-- All Categories --</option>
                                    {% for cat in categories %}
                                        <option value="{{ cat.id }}"
                                                {#L'if è usato perché quando viene ricaricata la pagina si riselezioni#}
                                                {#quello che avevamo selezionato prima. Lo si fa perché ora nell'url è presente /?categorys=i  #}
                                                {% if cat.id|stringformat:"s" == request.GET.category %}
                                                selected
                                                {% endif %}>
                                            {{ cat.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- 💰 Prezzo: filtri in colonna e centrati -->
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex flex-column align-items-center bg-secondary p-3 w-100 rounded" style="max-width: 300px">
                            <div class="mb-3 " style="max-width: 200px;">
                                <label class="text-white w-100">
                                    Insert a minimum price
                                    <input type="number" min="0" class="form-control" name="min_price" value="{{ request.GET.min_price }}" placeholder="Min €">
                                </label>
                            </div>
                            <div class="mb-3 w-100" style="max-width: 200px;">
                                <label class="text-white w-100">
                                    Insert a maximum price
                                    <input type="number" min="0" class="form-control" name="max_price" value="{{ request.GET.max_price }}" placeholder="Max €">
                                </label>
                            </div>
                            <div class="w-100" style="max-width: 300px;">
                                <button type="submit" class="btn btn-primary w-100">Apply price filters</button>
                            </div>
                        </div>

                    </div>

                </form>
                <h4 class="mt-4 mb-5"><strong>AVAILABLE PRODUCTS</strong></h4>
                {% for product in products %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card h-100">
                            <a href="{% url 'product_detail' product.pk %}">
                                <div class="card-img-top overflow-hidden" style="height: 300px; width: 100%;">
                                    <img src="{{ product.front_image.url }}" class="w-100 h-100" style="object-fit: cover;" />
                                </div>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title mb-3">{{ product.name }}</h5>
                                <p>{{ product.category }}</p>
                                <h6 class="mb-3">€{{ product.price }}</h6>
                                <a type="submit" href="{% url 'add_cart' product.pk %}" class="btn btn-primary w-100">Add to Cart</a>
                            </div>
                        </div>
                    </div>

                {%endfor %}
                {% if products.count == 0 %}
                    <h5>Nothing available with these filters</h5>
                {% endif %}
            </div>

        </div>
    </section>
{% endblock %}