{% extends 'store/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center text-dark" style="min-height: 85vh;">
        <div class="col-md-6 col-lg-5 bg-white p-4 rounded shadow">
            <h3 class="text-center mb-4">Login</h3>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback d-inline-block">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>

                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
