{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Django Ecommerce</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">Prodotti</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Carrello</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->


<section style="background-color: #eee;">

    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>AVAILABLE PRODUCTS</strong></h4>
        <div class="row row-gap-4">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product.pk %}">
                            <div class="card-img-top overflow-hidden" style="height: 300px; width: 100%;">
                                <img src="{{ product.front_image.url }}" class="w-100 h-100" style="object-fit: cover;" />
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title mb-3">{{ product.name }}</h5>
                            <p>{{ product.category }}</p>
                            <h6 class="mb-3">€{{ product.price }}</h6>
                        </div>
                    </div>
                </div>

            {%endfor %}
        </div>

    </div>

</section>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
